.base{
    background-color : #1aa62a;
}

.homepage-icon{
    height: 10%;
}

.homepage-icon-container{
    max-height: 10%;
}

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-image: none;
}

.carousel-inner > .item > .background {
    height:100%;
}

.carousel-indicators{
    bottom: 5px;
}

.carousel-indicators .active{
    background-color: #000000;
}

.carousel-indicators li{
    border: 1px solid #000;
}

.carousel-control.left, .carousel-control.right{
    color: black;
    background-image: none;
}
