body {
    padding-top: 50px;
    padding-bottom: 30px;
}
.form-row {
    margin-bottom: 15px;
}
@media (max-width: 979px) {
    body {
        padding-top: 50px;
        padding-bottom: 30px;
    }
}

@media (min-width:768px){
    .modal-wide {
        min-width: 600px;
        max-width: 850px;
        width: auto;
    }
}

[v-cloak] {
    display: none;
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}